.buttonBox {
    position        : absolute;
    width           : 177px;
    height          : 900px;
    border-style    : inset;
    left            : 5px;
    text-align      : center;
    top             : 5px;
}
.textBox {
    position        : absolute;
    width           : 500px;
    height          : 900px;
    border-style    : inset;
    left            : 200px;
    top             : 5px;
    overflow        : scroll;
}

.talkButton {
    display     : block;
    margin      : 2px;
    text-align  : center;
    width       : 170px;
    background  : gray;
    color       : white;
}
.radarBox {
    position : absolute;
    width  : 202px;
    height : 202px;
    left   : 720px;
    top    : 10px;
    border-style : solid;
    border-radius : 5px;
}

.radarElement {
    position:absolute;
    width  : 200px;
    height : 200px;
    left   : 0;
    bottom    : 0;
    border-radius : 5px;
    border-width: 2px;
}
#emotion {

    border-style : dashed;
    border-color : red;
}
#personality {
    border-style : solid;
    border-color : blue;
}
#target {
    border-style : dotted;
    border-color : orange;
}
.offerBox {
    width:100px;
    height:48px;
    position:absolute;
    top:222px;
    left:720px;
    border-style : solid;
    border-radius : 5px;
    text-align:center;
    vertical-align:middle;
    font-size:40px;
}
rival {
    color : red;
}